@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style-weather-display.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="search-box">
            <div class="row">
                <input type="text" id="input-box" placeholder="Search anything" autocomplete="off">
            </div>
            <div class="result-box">
            </div>
        </div>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <script src="~/js/autocomplete.js"></script>
</body>

